annoy==1.8.0
backports-abc==0.4
cairocffi==0.7.2
certifi==2016.9.26
cffi==1.9.1
colour==0.1.2
cycler==0.10.0
Cython==0.24.1
docutils==0.12
falcon==1.0.0
geojson==1.3.3
Jinja2==2.8
lockfile==0.12.2
luigi==2.3.2
mapnik==0.1
marisa-trie==0.7.2
MarkupSafe==0.23
matplotlib==1.5.3
ModestMaps==1.4.6
numpy==1.11.2
Pillow==3.4.1
psycopg2==2.6.2
pycparser==2.17
PyGSP==0.4.0
PyOpenGL==3.1.0
pyparsing==2.1.10
pyqtgraph==0.10.0
PySide==1.2.4
python-daemon==2.1.1
python-dateutil==2.6.0
python-mimeparse==1.6.0
pytz==2016.7
scikit-learn==0.18
scipy==0.18.1
Shapely==1.5.17
simplejson==3.8.2
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
TileStache==1.51.1
tornado==4.4.2
tsne==0.1.5
Werkzeug==0.11.11
